.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 170px;
  padding: 0 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  height: 140px;
  border: 1px solid #e0e0e0;
}

.container .title {
  font-size: 18px;
  font-weight: 500;
  color: #7d7c7c;
  margin-bottom: 15px;
}
.container .description {
  display: flex;
  text-align: right;
  justify-content: end;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}
