.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 10.625rem;
  padding: 0 3.75rem;
  gap: 3rem;
  min-height: 8.75rem;
  border: 1px solid #e0e0e0;
}

.container .title {
  font-size: 18px;
  font-weight: 500;
  color: #7d7c7c;
  margin-bottom: 1rem;
}

.container .description {
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}
