.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 850px;
  margin-top: 40px;
}

.container span {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

table {
  text-align: right;
  margin: 20px 0;
  border: 2px solid rgba(219, 210, 210, 0.667);
  font-family: "Cairo", sans-serif;
  font-size: 17px;
  width: 800px;
}

th,
td {
  padding: 1em;
}

tr th {
  color: rgb(51, 35, 110);
  background: rgba(232, 234, 238, 0.529);
}

table,
th,
td {
  border-bottom: 0.2px solid rgba(182, 182, 182, 0.667);
  border-collapse: collapse;
}

